<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <button @click="change">change</button>
    <div v-for="item in arr">{{item}}</div>
    <div v-for="o in obj">{{o}}</div>
</div>
<script src="../vue.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            //根级属性
            arr:['a','b','c','d'],
            obj:{
                name:'lisi'
            }
        },
        methods:{
            change(){
//                this.arr[2] = 'e';
//                this.obj.age = 28;
//                Object.assign(this.obj,{age:20})
                Vue.set(this.arr,2,'e');
                Vue.set(this.obj,'age',20);
            }
        }
    })
    let arr1 = ['a','b','c','d'];
    console.log(arr1);
    arr1[2] = 'e';
    console.log(arr1);
    let obj = {
        name:'lisi'
    };
    console.log(obj);
    obj.age = 28;
    console.log(obj);
</script>
</body>
</html>